<%= form_with(model: @contact, class: 'contact-form') do |form| %>
  <div class="field">
    <%= form.label t('contact_name') %>
    <%= form.text_field :name, placeholder: t('input_contact_name') %>
  </div>

  <div class="field">
    <%= form.label t('contact_surname') %>
    <%= form.text_field :surname,  placeholder: t('input_contact_surname') %>
  </div>

  <div class="field">
    <%= form.label t('contact_phone') %>
    <%= form.text_field :phone, placeholder: t('input_contact_phone') %>
  </div>

  <div class="actions">
    <%= link_to t('go_back'), contacts_path %>
    <%= form.submit t('create_contact')%>
  </div>
<% end %>
