<!DOCTYPE html>
<html>
  <head>
    <title>Phonebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/7ac4b9e110.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div id="floating-alert-container">
      <% flash.each do |key, message| %>
        <div 
          class="floating-alert" 
          data-message="<%= message %>" 
          data-alert-class="<%= key == 'notice' ? 'alert-success' : 'alert-error' %>">
          <%= message %>
        </div>
      <% end %>
    </div>
    </div>
    <div class='app'>
      <div class='title'>
        <i class="fas fa-address-book"></i>
        <h1>
          <%= t('title') %>
        </h1>
      </div>
      <div class='container'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
